body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color:#f4f4f4;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none; /* Remove underline decoration */
}

.notice-table {
    padding: 50px 0;
}

.notice-table h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

footer {
    position: fixed; /* Position the footer relative to the body */
    bottom: 0; /* Pin the footer to the bottom */
    width: 100%; /* Make the footer span the entire width */
    background: #f4f4f4;
    color: black;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
a{
    text-decoration: underline;
    color: black;
}